@page
@model ImpersonationClient.Pages.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login to your account</title>
</head>
<body>
</body>
</html>
